/* Styles configuration for the html file */

.center{
  text-align: center;
}

.left{
  text-align: left;
}

.bck{
  background-image: url('dota-back.png');
}

.color1{
  color: #c5c6c7;
}

.color2{
  color: #66fcf1;
}



.container{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

#menu li{
display: inline;
padding: 10px;
box-shadow: 1px 1px 10px none;
}

#menu li a{
  text-decoration: none;
  color:#c5c6c7;
  font-size: 18px;
  font-style: strong;
  text-transform: uppercase;
}

#menu li a:hover{
  color:#e60000;
}

.p-01{
  padding: 20px;
  font-size:25px;
  font-style: bold;
}

.margin-01{
  margin-bottom: 10px;
}

.border-01{
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.hr-01{
  border-top: solid 1px rgba(124, 128, 129, 0.2);
  border: 0;
  margin-bottom: 1.5em;
}

.justify{
text-align:justify;
}

.upper{
  text-transform: uppercase;
}

.tm-social{
  display: inline;
  width: 35px;
  height: 35px;
  padding: 10px;
  vertical-align: middle;
}
#menu {
  background-repeat: no-repeat;
  background-color: black;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: -10px;
}

#social {
  background-repeat: no-repeat;
  background-color: black;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin-bottom: -60px;
  margin-left: -10px;
}

.bd-frame{
  border-radius: 3%;
}

.p1-style{
  font-family: "Brush Script MT", cursive;
}

.p2-style{
  font-family: "Geneva", cursive;
}
.p-bold{
font-weight: bold;
}